<%- include('partials/header') -%>
<div class="container">

  <div>
    <form action="/bills/billsEdit?_method=PUT" method="POST">
      <div>
        <h2>Month<input type="text" name="month"><%=month%></h2>
      </div>
    <table>
    <tr>
      <th>Bill</th>
      <th>Price</th>
      <th>Date Due</th>
      <th>Date Paid</th>
      <th>Est. Balance Remaining</th>
      <th>Extra Info</th>
    </tr>
    <tr>
      <td>Rent</td>
      <td><input type="text" name="rent" id="">$<%=rent[0]%></td>
      <td><input type="date" name="rent" id=""></td>
      <td><input type="date" name="rent" id=""></td>
      <td><input type="text" name="rent" id="">$<%=rent[3]%></td>
      <td><input type="text" name="rent"><%=rent[4]%></td>
    </tr>
    <tr>
      <td>OGE</td>
      <td><input type="text" name="oge" id="">$<%=oge[0]%></td>
      <td><input type="date" name="oge" id=""></td>
      <td><input type="date" name="oge" id=""></td>
      <td><input type="text" name="oge" id="">$<%=oge[3]%></td>
      <td><input type="text" name="rent"><%=oge[4]%></td>
    </tr>
    <tr>
      <td>Storage</td>
      <td><input type="text">$1025</td>
      <td><input type="date" name="storage" id=""></td>
      <td><input type="date" name="storage" id=""></td>
      <td><input type="text" name="storage" id=""></td>
      <td><span></span></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><input type="text">$1025</td>
      <td><input type="date" name="" id=""></td>
      <td><input type="date" name="" id=""></td>
      <td><input type="text" name="" id=""></td>
      <td><span></span></td>
    </tr>
    <tr>
      <td>Insurance</td>
      <td><input type="text">$1025</td>
      <td><input type="date" name="" id=""></td>
      <td><input type="date" name="" id=""></td>
      <td><input type="text" name="" id=""></td>
      <td><span></span></td>
    </tr>
    <tr>
      <td>Water</td>
      <td><input type="text">$1025</td>
      <td><input type="date" name="" id=""></td>
      <td><input type="date" name="" id=""></td>
      <td><input type="text" name="" id=""></td>
      <td><span></span></td>
    </tr>
    <tr>
      <td>Windstream</td>
      <td><input type="text">$1025</td>
      <td><input type="date" name="" id=""></td>
      <td><input type="date" name="" id=""></td>
      <td><input type="text" name="" id=""></td>
      <td><span></span></td>
    </tr>
    <tr>
      <td>Car</td>
      <td><input type="text">$1025</td>
      <td><input type="date" name="" id=""></td>
      <td><input type="date" name="" id=""></td>
      <td><input type="text" name="" id=""></td>
      <td><span></span></td>
    </tr>
    <tr>
      <td>USAA</td>
      <td><input type="text">$1025</td>
      <td><input type="date" name="" id=""></td>
      <td><input type="date" name="" id=""></td>
      <td><input type="text" name="" id=""></td>
      <td><span></span></td>
    </tr>
    <tr>
      <td>Academy</td>
      <td><input type="text">$1025</td>
      <td><input type="date" name="" id=""></td>
      <td><input type="date" name="" id=""></td>
      <td><input type="text" name="" id=""></td>
      <td><span></span></td>
    </tr>
    <tr>
      <td>Capital One</td>
      <td><input type="text">$1025</td>
      <td><input type="date" name="" id=""></td>
      <td><input type="date" name="" id=""></td>
      <td><input type="text" name="" id=""></td>
      <td><span></span></td>
    </tr>
    <tr>
      <td>Milestone</td>
      <td><input type="text">$1025</td>
      <td><input type="date" name="" id=""></td>
      <td><input type="date" name="" id=""></td>
      <td><input type="text" name="" id=""></td>
      <td><span></span></td>
    </tr>
    <tr>
      <td>Indigo</td>
      <td><input type="text">$1025</td>
      <td><input type="date" name="" id=""></td>
      <td><input type="date" name="" id=""></td>
      <td><input type="text" name="" id=""></td>
      <td><span></span></td>
    </tr>
    <tr>
      <td>Lowes</td>
      <td><input type="text">$1025</td>
      <td><input type="date" name="" id=""></td>
      <td><input type="date" name="" id=""></td>
      <td><input type="text" name="" id=""></td>
      <td><span></span></td>
    </tr>
    <tr>
      <td><strong>Total</strong></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </table>
    <div>
      <button type="submit">Edit Table</button>
    </div>
  </form>
  </div>


  <div>
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/bills/allBills">Bills Table</a>
      <a class="btn btn-primary" href="/bills/billsList">Bills List</a>

    </div>
  </div>
</div>

<%- include('partials/footer') -%>
